@model Rent.Entities.Model.PropertiesViewModel

@{
    Layout = null;
}





<div class="col-md-12 clear section">
    <div id="list-type" class="proerty-th">
        @foreach (var item in Model.SearchModel)
        {
            <div class="col-sm-6 col-md-4 p0">
                <div class="box-two proerty-item">
                    <div class="item-thumb">
                        <a href="@Url.Action("PropertyDetails","Home",new {id=item.PropertyId })"><img src="@Url.Content(item.FileName)"></a>
                    </div>
                    <div class="item-entry overflow">
                        <h5><a href="@Url.Action("PropertyDetails","Home",new {id=item.PropertyId })"> @item.PropertyName </a></h5>
                        <div class="dot-hr"></div>
                        <span class="pull-left"><b> Area :</b> @item.Area </span>
                        <span class="proerty-price pull-right"> @item.ExpectedPrice</span>
                        <p style="display: none;">@item.Description</p>
                        <div class="property-icon">
                            <img src="assets/img/icon/bed.png">(5)|
                            <img src="assets/img/icon/shawer.png">(2)|
                            <img src="assets/img/icon/cars.png">(1)
                        </div>
                    </div>

                </div>
            </div>
        }

    </div>
</div>
<div class="col-md-12 section">
    @{Html.RenderPartial("~/Views/Shared/_Paging.cshtml", Model.pager);}
</div>