@model Rent.Entities.Model.PropertiesViewModel
@{
    Layout = null;
}

<div class="section">
    <div id="list-type" class="proerty-th-list">
        @foreach (var item in Model.SearchModel)
        {
            <div class="col-md-4 p0">
                <div class="box-two proerty-item">
                    <div class="item-thumb">
                        <a href="property-1.html"><img src="@Url.Content(item.FileName)"></a>
                    </div>
                    <div class="item-entry overflow">
                        <h5><a href="property-1.html"> @item.PropertyName </a></h5>
                        <div class="dot-hr"></div>
                        <span class="pull-left"><b> Area :</b> @item.Area m </span>
                        <span class="proerty-price pull-right"> &#8377; @item.ExpectedPrice</span>
                        <p style="display: none;">@item.Description</p>
                        <div class="property-icon">
                            <img src="@Url.Content("~/Content/assets/img/icon/bed.png")">(5)|
                            <img src="@Url.Content("~/Content/assets/img/icon/shawer.png")">(2)|
                            <img src="@Url.Content("~/Content/assets/img/icon/cars.png")">(1)

                            <div class="dealer-action pull-right">
                                <a href="@Url.Action("Rent","Property",new {id=item.PropertyId })" class="button">Edit </a>
                                <a href="#" class="button delete_user_car">Delete</a>
                                <a href="@Url.Action("Rent","Property",new {id=item.PropertyId })" class="button">View</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        }
    </div>
</div>
@{ Html.RenderPartial("_Paging", Model.pager);}

